.container > * {
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	min-height: 100vh;
	padding: 0 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	overflow-x: hidden;
}
.header {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 250px;
	width: calc(100% - 0.5rem);
	margin: auto;
}
.headerImg {
	width: 344px;
	height: 134.82px;
	margin: auto;
}

.logo,
.cartButton {
	margin-top: 0.5rem;
}

.logo {
	font-size: 2.5rem;
	font-weight: 600;
}

.cartButton {
	font-family: 'Basement Grotesque', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: 600;
	letter-spacing: 0.025rem;
	border: solid 1.5px white;
	background-color: transparent;
	color: white;
	text-transform: uppercase;
	padding: 0.1rem 1rem;
	height: 2.25rem;
	border-radius: 20px;
}

.marquee {
	/* margin-top: 1rem; */
	width: 100vw;
	color: white;
	white-space: nowrap;
	/* overflow: hidden; */
	box-sizing: border-box;
	border-top: solid 1px white;
	border-bottom: solid 1px white;
	height: 42px;
}
.marquee p {
	margin-top: 5px;
	height: 100%;
	display: inline-block;
	padding-left: 100%;
	font-size: 20px;
	font-weight: 700;
	animation: marquee 15s linear infinite;
}
@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.productContainer {
	margin-top: 2rem;
	height: 432px;
}

.product {
	border-bottom: solid white 1px;
	background: linear-gradient(180deg, #1d1d1d 0%, rgba(21, 21, 21, 0) 100%);
	width: 343px;
	height: 394px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.imageContainer {
	width: 95%;
	height: 95%;
}
.productInfo {
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.productName,
.price {
	font-family: Basement Grotesque;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	width: max-content;
}

.footer {
	width: 100%;
	height: 153px;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footerLogo {
	height: 128px;
	width: 343px;
}
