.container > * {
	margin: 0;
	padding: 0;
}

.containerOnCartClose,
.containerOnCartOpen {
	min-height: 100vh;
	padding: 0 0.25rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	overflow-x: hidden;
}

.containerOnCartClose {
	position: relative;
}
.containerOnCartOpen {
	overflow-y: hidden;
}

.header {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 250px;
	width: calc(100% - 0.5rem);
	margin: auto;
}
.headerImg {
	width: 344px;
	height: 134.82px;
	margin: auto;
}

.logo,
.cartButton {
	margin-top: 0.5rem;
}

.logo {
	font-size: 2.5rem;
	font-weight: 600;
}

.openCartButton {
	font-family: 'Basement Grotesque', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-weight: 600;
	letter-spacing: 0.025rem;
	border: solid 1.5px white;
	background-color: transparent;
	color: white;
	text-transform: uppercase;
	padding: 0.1rem 1rem;
	height: 2.25rem;
	border-radius: 20px;
}

.marquee {
	/* margin-top: 1rem; */
	width: 100vw;
	color: white;
	white-space: nowrap;
	/* overflow: hidden; */
	box-sizing: border-box;
	border-top: solid 1px white;
	border-bottom: solid 1px white;
	height: 42px;
}
.marquee p {
	margin-top: 5px;
	height: 100%;
	display: inline-block;
	padding-left: 100%;
	font-size: 20px;
	font-weight: 700;
	animation: marquee 15s linear infinite;
}
@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer {
	width: 100%;
	height: 153px;
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footerLogo {
	height: 128px;
	width: 343px;
}

.cart > * {
	margin: 0;
	margin-left: 1rem;
	margin-right: 1rem;
}

.cart {
	background-color: black;
	position: absolute;
	top: 0px;
	left: -10px;
	width: 100vw;
	height: 100vh;

	z-index: 20;
	display: grid;
	grid-template-rows: repeat(max-content, 5);
	grid-gap: 1rem;
}

.cart > h2 {
	font-family: Basement Grotesque;
	font-style: normal;
	font-weight: bold;
	font-size: 116px;
	line-height: 90px;
	width: 100%;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	color: white;
	-webkit-text-stroke: 1.5px white;
}

.itemsContainer {
	height: 140px;
}

.checkout {
	/* width: 100%; */
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	letter-spacing: 4px;
	color: black;
	-webkit-text-stroke: 1.5px white;
}

.closeButton {
	width: 113.99px;
	height: auto;
	background-color: transparent;
	border: none;
	font-family: Basement Grotesque;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 80%;
	color: #ffffff;
	text-align: right;
	padding-top: 6px;
	justify-self: right;
}
.total {
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 80%;
	display: flex;
	justify-content: space-between;
	border-bottom: solid 1px white;
	height: max-content;
	align-self: end;
}
.cart h2 > span {
	background-color: transparent;
	font-family: Basement Grotesque;
	font-style: normal;
	font-weight: bold;
	color: transparent;
	text-align: right;
	padding-top: 6px;
	font-weight: bold;
	line-height: 102%;
	width: 100%;
	margin: 0;
}
